.DS_Store
__pycache__/
*.pyc
input/*
parsed/*
result/*
!input/.gitkeep
!input/pdf/.gitkeep
!input/function/
!input/function/.gitkeep
!input/function/tools.yaml
!input/word/.gitkeep
!parsed/.gitkeep
PROJECT_OVERVIEW.md
